pandas
numpy
fastapi
pymupdf
paddleocr
layoutparser
supabase
llama-parse
pytesseract
lxml
openai
pydantic
charset_normalizer 

uvicorn backend.server:app --reload --port 8000
uvicorn backend.server:app --port 8000