pandas
numpy
fastapi
pymupdf
paddleocr
layoutparser
supabase
llama-parse
pytesseract
lxml
openai
pydantic
charset_normalizer
google-generativeai

uvicorn backend.server:app --reload --port 8000
uvicorn backend.server:app --port 8000

cd "C:/Users/lukep/Documents/Salle/Business/Senior Year/TFG/Projectfiles/backend"
python server.py


cloudflared tunnel --url http://localhost:8000
